*{
    background: black;
}

.content-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    flex: 1;
    color: white;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
}
.content-navbar-links{
    display: flex;
    justify-content: space-between;
}
.content-navbar-links a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    
}

/* content-language-details content-language-left and content-language-right */

.content-language-details{
    color: white;
    padding: 25px;
    
}


